FIREBASE_API_KEY=PUT_YOUR_FIREBASE_API_KEY_HERE
FIREBASE_AUTH_DOMAIN=PUT_YOUR_FIREBASE_AUTH_DOMAIN_HERE
FIREBASE_DATABASE_URL=PUT_YOUR_FIREBASE_DATABASE_URL_HERE
FIREBASE_PROJECT_ID=PUT_YOUR_FIREBASE_PROJECT_ID_HERE
FIREBASE_STORAGE_BUCKET=PUT_YOUR_FIREBASE_STORAGE_BUCKET_HERE
FIREBASE_MESSAGING_SENDER_ID=PUT_YOUR_FIREBASE_MESSAGING_SENDER_ID_HERE
FIREBASE_APP_ID=PUT_YOUR_FIREBASE_APP_ID_HERE
FIREBASE_WEB_APP_ID=PUT_YOUR_FIREBASE_WEB_APP_ID_HERE
FIREBASE_WINDOWS_APP_ID=PUT_YOUR_FIREBASE_WINDOWS_APP_ID_HERE
FIREBASE_ANDROID_APP_ID=PUT_YOUR_FIREBASE_ANDROID_APP_ID_HERE
FIREBASE_IOS_APP_ID=PUT_YOUR_FIREBASE_IOS_APP_ID_HERE
FIREBASE_EMAIL=PUT_YOUR_FIREBASE_EMAIL_HERE
FIREBASE_PASSWORD=PUT_YOUR_FIREBASE_PASSWORD_HERE
