.env
applicatoin/.env
applicatoin/assets/.env
**/.env.local
**/.env.*
!.env.example

**/.dart_tool/
**/build/
.platformio-home/
**/.idea/
**/.gradle/
**/.pio/
**/.vscode/launch.json
**/.vscode/tasks.json
**/.vscode/*.code-workspace

applicatoin/ios/Flutter/Generated.xcconfig
applicatoin/ios/Flutter/flutter_export_environment.sh
applicatoin/macos/Flutter/ephemeral/
applicatoin/macos/Flutter/Flutter-Generated.xcconfig
applicatoin/macos/Flutter/flutter_export_environment.sh
applicatoin/android/local.properties

**/*.log
**/*.tmp
**/*.swp
